<!doctype html>
<html>
  <head>
    <title>Resume Parser</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <main>
      <div class="upload-card">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}

        <div class="flash {{ category }}">{{ message }}</div>

        {% endfor %} {% endif %} {% endwith %}

        <h1>Submit Your Resume</h1>

        <p>Upload your resume in PDF or DOCX format.</p>

        <form method="POST" action="/upload" enctype="multipart/form-data">
          <input type="file" name="resume" id="resume" required />

          <button type="submit">Upload Resume</button>
        </form>
      </div>
    </main>
    <footer>
      <p>© 2026 Resume Parser ATS | Developed by Rutuja Chavan</p>
    </footer>
  </body>
</html>
